# Advent of Code 2022
## [Day 10: Cathode-Ray Tube](https://adventofcode.com/2022/day/10)

#### Load Data

In [1]:
import aocd
input_data = aocd.get_data(year=2022, day=10).split("\n")
input_data[:8]

['noop', 'noop', 'addx 5', 'noop', 'noop', 'addx 1', 'addx 3', 'addx 2']

In [2]:
with open("test_data.txt") as f:
    test_data = f.read().split("\n")
test_data[:6]

['addx 15', 'addx -11', 'addx 6', 'addx -3', 'addx 5', 'addx -1']

In [3]:
small_program = """noop
addx 3
addx -5
""".split("\n")

In [4]:
import numpy as np

In [5]:
import pandas as pd

### Part 1

In [6]:
def run_signal(program):
    cycles = 1
    x = 1
    cycle_series = [0]
    x_series = [0]
    program_series = ['']

    for line in program:
        cycle_series.append(cycles)
        x_series.append(x)
        program_series.append(line)
        tokens = line.split(" ")
        if tokens[0] == "noop":
            cycles += 1
        elif tokens[0] == "addx":
            cycles += 1
            cycle_series.append(cycles)
            x_series.append(x)
            program_series.append("")
            cycles += 1
            v = int(tokens[1])
            x += v

    
    signal_strength = np.multiply(x_series, cycle_series)
    df = pd.DataFrame({
        "cycle": cycle_series,
        "x": x_series,
        "signal_strength": signal_strength,
        "program": program_series
    })
    return df

run_signal(small_program)

   cycle  x  signal_strength  program
0      0  0                0
1      1  1                1     noop
2      2  1                2   addx 3
3      3  1                3
4      4  4               16  addx -5
5      5  4               20
6      6 -1               -6

In [7]:
def get_signal_strength(program):
    return run_signal(program)["signal_strength"]

In [8]:
interesting = np.arange(6)*40 + 20
interesting

array([ 20,  60, 100, 140, 180, 220])

In [9]:
np.take(get_signal_strength(test_data), interesting)

20      420
60     1140
100    1800
140    2940
180    2880
220    3960
Name: signal_strength, dtype: int64

#### Part 1 Answer
Find the signal strength during the 20th, 60th, 100th, 140th, 180th, and 220th cycles. **What is the sum of these six signal strengths?**

In [10]:
np.take(get_signal_strength(input_data), interesting).sum()

14820

---

### Part 2

In [11]:
def get_pixel(cycle, x):
    cycle = (((cycle-1) % 40)+1)
    if abs((x+1) - cycle) < 2:
        return "#"
    else:
        return "."

In [19]:
def plot_screen(program):
    df = run_signal(program)
    df['pixel'] = [get_pixel(*item) for item in zip(df['cycle'], df['x'])]
    rows = len(df) // 40
    screen = df["pixel"].to_numpy()[1: 40 * (len(df) // 40)+1].reshape((-1,40))
    print("\n".join([''.join(line) for line in screen]))
    return df
                     
plot_screen(test_data)[1:11]

##..##..##..##..##..##..##..##..##..##..
###...###...###...###...###...###...###.
####....####....####....####....####....
#####.....#####.....#####.....#####.....
######......######......######......####
#######.......#######.......#######.....

    cycle   x  signal_strength   program pixel
1       1   1                1   addx 15     #
2       2   1                2               #
3       3  16               48  addx -11     .
4       4  16               64               .
5       5   5               25    addx 6     #
6       6   5               30               #
7       7  11               77   addx -3     .
8       8  11               88               .
9       9   8               72    addx 5     #
10     10   8               80               #

#### Part 2 Answer
Render the image given by your program.  
**What eight capital letters appear on your CRT?**

In [13]:
plot_screen(input_data);

###..####.####.#..#.####.####.#..#..##..
#..#....#.#....#.#..#....#....#..#.#..#.
#..#...#..###..##...###..###..####.#..#.
###...#...#....#.#..#....#....#..#.####.
#.#..#....#....#.#..#....#....#..#.#..#.
#..#.####.####.#..#.####.#....#..#.#..#.