In [1]:
from collections import defaultdict
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_formats = ['svg']

# Advent of Code 2021
## Day 2

### Part 1

In [2]:
commands = []
with open("input.txt") as f:
    for line in f:
        line = line.strip()
        direction, amount = line.split(' ')
        commands.append((direction, int(amount)))
        
pd.DataFrame(np.array(commands), columns=('direction', 'amount'))

    direction amount
0     forward      4
1        down      9
2     forward      6
3        down      5
4          up      2
..        ...    ...
995   forward      6
996   forward      6
997        up      2
998      down      8
999   forward      5

[1000 rows x 2 columns]

In [3]:
distance = [0]
aim = [0]
depth = [0]

speed_commands = defaultdict(lambda: 0, {
    "forward": 1
})
attitude_commands = defaultdict(lambda: 0, {
    "up": -1,
    "down": 1
})

for (direction, amount) in commands:
    distance_offset = speed_commands[direction] * amount
    new_distance = distance[-1] + distance_offset
    distance.append(new_distance)
    
    aim_offset = attitude_commands[direction] * amount
    new_aim = aim[-1] + aim_offset
    aim.append(new_aim)
    
    depth_offset = aim[-1] * distance_offset
    new_depth = depth[-1] + depth_offset
    depth.append(new_depth)

pd.DataFrame({
    "distance": distance,
    "aim": aim,
    "depth": depth
})

      distance  aim   depth
0            0    0       0
1            4    0       0
2            4    9       0
3           10    9      54
4           10   14      54
...        ...  ...     ...
996       1894  901  800558
997       1900  901  805964
998       1900  899  805964
999       1900  907  805964
1000      1905  907  810499

[1001 rows x 3 columns]

In [4]:
def plot_depth(distance, depth, *args, fig=None, **kwargs):
    if distance is None:
        distance = np.arange(len(depth))
    if fig:
        ax = fig.axes[0]
    else:
        fig, (ax) = plt.subplots(1)
        ax.invert_yaxis()
    ax.set_xlabel("distance")

    ax.plot(distance, depth, *args, **kwargs)
    ax.legend()
    plt.close(fig)
    return fig

In [5]:
plot_depth(distance, aim, label='aim', color='green').savefig('aim.svg')

**aim.svg**  
![aim.svg](aim.svg)

#### Part 1 Answer
What do you get if you multiply your final horizontal position by your final "depth"?

In [6]:
distance[-1] * aim[-1]

1727835

### Part 2

In [7]:
plot_depth(distance, depth, label='depth').savefig('depth.svg')

**depth.svg**  
![depth.svg](depth.svg)

#### Part 2 Answer
What do you get if you multiply your final horizontal position by your final depth?

In [8]:
distance[-1] * depth[-1]

1544000595